body {
  background-color: #04242F;
}
@-moz-keyframes flicker {
  0% {
    background-color: #143947;
  }
  10% {
    background-color: #356e82;
  }
  20% {
    background-color: #184757;
  }
  30% {
    background-color: #225567;
  }
  40% {
    background-color: #133946;
  }
  50% {
    background-color: #225567;
  }
  60% {
    background-color: #356e82;
  }
  65% {
    background-color: #184757;
  }
  70% {
    background-color: #356e82;
  }
  80% {
    background-color: #184757;
  }
  90% {
    background-color: #225567;
  }
  100% {
    background-color: #143947;
  }
}
@-webkit-keyframes flicker {
  0% {
    background-color: #143947;
  }
  10% {
    background-color: #356e82;
  }
  20% {
    background-color: #184757;
  }
  30% {
    background-color: #225567;
  }
  40% {
    background-color: #133946;
  }
  50% {
    background-color: #225567;
  }
  60% {
    background-color: #356e82;
  }
  65% {
    background-color: #184757;
  }
  70% {
    background-color: #356e82;
  }
  80% {
    background-color: #184757;
  }
  90% {
    background-color: #225567;
  }
  100% {
    background-color: #143947;
  }
}
#topbar {
  background-color: #7dac22;
  height: 20px;
}
.hulu {
  color: #7dac22;
}
h1 {
  position: relative;
  display: inline-block;
  z-index: 1;
  color: #FFFFFF;
  font-size: 100px;
  margin: 30px 0 0;
  font-weight: normal;
}
h1 .hulu {
  font-size: 90px;
  font-weight: bold;
  color: #7dac22;
}
h1 .beta {
  font-size: 15px;
  position: absolute;
  bottom: 85px;
  right: 5px;
  color: rgba(255, 255, 255, 0.3);
}
header {
  text-align: center;
  width: 1020px;
  margin: auto;
  height: 383px;
  position: relative;
}
header #header-content {
  margin: 20px auto auto;
  width: 550px;
}
header #header-content p {
  margin-top: 0;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 0 #000;
  color: #9daaaf;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
}
header #kids {
  left: 0;
  background-color: #143947;
  -webkit-animation: flicker 5s infinite;
  -moz-animation: flicker 5s infinite;
  -ms-animation: flicker 5s infinite;
  animation: flicker 5s infinite;
  position: absolute;
  height: 383px;
  top: 0px;
}
#install {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #7dac22;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  margin: 30px auto auto;
  padding: 14px 14px 17px 14px;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 250px;
  z-index: 10;
}
#install.disabled {
  background-color: #AAA;
}
#install.disabled:hover {
  background-color: #CCC;
}
#install:hover {
  background-color: #97c53e;
}
#restart,
#already_installed,
#unsupported {
  text-align: center;
  color: #999999;
  margin: 10px;
  position: relative;
  font-size: 0.8em;
  z-index: 1000;
}
#restart img,
#already_installed img,
#unsupported img {
  position: relative;
  top: 5px;
}
#restart a,
#already_installed a,
#unsupported a {
  color: #cccccc;
  text-decoration: none;
}
#restart a:hover,
#already_installed a:hover,
#unsupported a:hover {
  text-decoration: underline;
}
#restart a img,
#already_installed a img,
#unsupported a img {
  opacity: 0.8;
}
#already_installed,
#unsupported {
  display: none;
}
#how {
  border-top: 5px solid #7dac22;
  background-color: #01161e;
  padding: 2em;
  box-shadow: 0 5px 7px #000000 inset;
  -moz-box-shadow: 0 5px 7px #000000 inset;
  -webkit-box-shadow: 0 5px 7px #000000 inset;
}
#how h2 {
  color: #7dac22;
  font-size: 2em;
}
#how h3 {
  color: #fff;
  font-weight: normal;
}
#how h2,
#how h3 {
  margin: 0;
  text-align: center;
  line-height: 1em;
}
#how #steps {
  width: 1020px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
}
#how #steps li {
  float: left;
  margin: 2em 24px;
  padding: 0;
}
#how #steps li h3 {
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 10px;
}
#how #steps li h3 span {
  font-weight: normal;
  font-style: italic;
  font-family: Baskerville, Times New Roman;
}
#how #steps li p {
  color: #FFFFFF;
  font-size: 0.8em;
  text-align: center;
  width: 292px;
  opacity: 0.8;
}
#how #steps img {
  padding: 5px;
  background-color: #eee;
  box-shadow: 0 0 5px #000;
}
footer {
  background-color: #010b0f;
  color: #ccc;
  font-size: 0.8em;
}
footer a {
  color: #fff !important;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .container {
  opacity: 0.7;
  width: 1020px;
  margin: auto;
  padding: 40px 0;
  text-align: center;
}
#install-page {
  display: none;
}
#install-page h2 {
  color: #ffffff;
  text-align: center;
  width: 500px;
  margin: auto;
  font-size: 1.2em;
}
#install-page h3 {
  color: #eeeeee;
  font-size: 1em;
  text-align: center;
  font-weight: normal;
}
#install-page p {
  width: 500px;
  color: #999999;
  text-align: center;
  margin: 20px auto;
  line-height: 1.3em;
}
#install-page .beta {
  font-style: normal;
  color: red;
}
#detecting_hwm {
  margin: 60px auto 0pt;
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#detecting_hwm strong {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
#detecting_hwm strong .hulu {
  font-weight: bold;
  font-size: 15px;
}
#detecting_hwm .dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px 5px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#detecting_hwm .dots span.on {
  background-color: #fff;
}
#installed_modal {
  display: none;
  width: 684px;
  background-color: #fff;
  position: fixed;
  top: 50px;
  border-radius: 5px;
  left: 50%;
  margin-left: -342px;
  z-index: 2000;
  border: 3px solid #7dac22;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
#installed_modal .im_top {
  background-color: #eee;
  padding: 2em 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#installed_modal .im_top .hwm-button {
  color: #7dac22;
  padding-left: 19px;
  background-image: url('../imgs-src/person.png');
  background-repeat: no-repeat;
  background-position: 0 -16px;
  height: 16px;
  display: inline-block;
  text-shadow: 1px 1px #888;
}
#installed_modal .im_top h3 {
  margin: 0;
  font-size: 2em;
  color: #777;
  font-size: 45px;
  font-weight: normal;
}
#installed_modal .im_top h3 span {
  font-size: 40px;
  font-weight: bold;
}
#installed_modal .im_top p {
  margin: 0;
  font-size: 0.95em;
  color: #777;
}
#installed_modal .im_bottom {
  padding: 2em;
  overflow: hidden;
}
#installed_modal .im_bottom p {
  margin: 0;
  color: #555;
}
#installed_modal .im_bottom #im_examples > span {
  padding: 20px 0 0;
  display: block;
  color: #999;
  font-style: italic;
  text-align: center;
}
#installed_modal .im_bottom .show {
  display: block;
  color: #999;
  float: left;
  width: 145px;
  text-align: center;
  font-size: 0.8em;
  margin: 20px 10px 0 0;
  text-color: #777;
  text-decoration: none;
  font-size: 0.9em;
}
#installed_modal .im_bottom .show:hover {
  color: #7dac22;
}
#installed_modal .im_bottom .show:hover img {
  opacity: 0.8;
}
#installed_modal .im_bottom .show span {
  display: block;
}
